* {
  font-family: "IranYekan";
}
body {
  direction: rtl;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

@font-face {
  font-family: "IranYekan";
  src: url("../public/font/iranyekanwebregular.woff") format("woff");
}
