.home_back {
  width: 100%;
  height: 760px;
}
.h1 {
  display: flex;
  align-items: end;
  justify-content: end;
  width: 680px;
  height: 200px;
  /* background-color: rgb(252, 250, 250); */
  gap: 12px;
}
.p1 {
  color: var(--TEXT, #2f2f2f);
  font-family: var(--medium);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.p2 {
  color: var(--Primary-Color, #2c9cf0);
  font-family: var(--medium);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.div_p3 {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 690px;
  height: 140px;
  /* background-color: rgb(250, 250, 251); */
}
.p3 {
  color: #707070;
  text-align: right;
  font-family: var(--Light);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.homimag_btn_mosh {
  width: 188px;
  height: 40px;
  display: flex;
  padding: 8px 30px;
  gap: 3.4px;
  border-radius: 10px;
  background: var(--Primary-Color, #2C9CF0);
  box-shadow: 0px 2px 8px 0px rgba(151, 151, 151, 0.15);
  color: #fff;
  text-align: right;
  font-family: var(--Light);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.homimag_btn_mosh:hover{
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  background: linear-gradient(91deg, #0092FF 0.16%, #1079C8 100%)
}
.homimag_btn_about {
  width: 145;
  height: 40px;
  display: flex;
  /* justify-content: center; */
  padding: 8px 30px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--Primary-Color, #2c9cf0);
  background: rgba(44, 156, 240, 0.15);
  color: var(--Primary-Color, #2c9cf0);
  text-align: right;
  font-family: var(--Light);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.homimag_btn{
    width: 477px;
    height: 75px;
    /* background-color: #fff; */
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 30px;
}
